body{
	background-image: url('https://res.cloudinary.com/sliit-yasantha/image/upload/v1656817717/ezgif-3-2b11731e31_jecjyk.jpg');
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;;
}

.head-container{
    margin-top: 20px;
    margin-left: 20%;
}

.h-text{
    color: #0F0934;
    font-size: 3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.t-list-container{
    display: grid;
    height:100vh;
    grid-template-columns: 20% auto;
}

.t-list-head-container{
    margin-top: 20px;
    margin-left: 10%;
}

.t-list-tb-container{
    align-content : center;
    margin-left: 10%;
    margin-top: 40px;
    max-width: 80%;
}



.t-table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(52, 7, 175, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #2a027f;
    --bs-table-hover-bg: rgba(41, 4, 143, 0.414);
    width: 100%;
    margin-bottom: 1rem;
    color: #292221;
    vertical-align: top;

	background-color: white;
  }

  .table-hover > tbody > tr:hover > * {
	--bs-table-accent-bg: var(--bs-table-hover-bg);
	color: var(--bs-table-hover-color);
  }  

.t-table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
 }

 .t-table > tbody {
    vertical-align: inherit;
  }
  .t-table > thead {
    vertical-align: bottom;
  }
  .t-table > :not(:first-child) {
    border-top: 2px solid currentColor;
  }

  .t-table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
  }
  
